In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import cleaning
from datetime import timedelta
%load_ext autoreload
%autoreload 2

path = "../data/mimic-iv-clinical-database-demo-2.2/hosp/"
path2 = "../data/mimic-iv-clinical-database-demo-2.2/icu/"

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [29]:
## reading files and creating dataframes for tables
files = ["admissions", "patients", "labevents", "d_labitems", "prescriptions","pharmacy","transfers", "diagnoses_icd","d_icd_diagnoses","procedures_icd","d_icd_procedures"]
dfs = {}

for name in files:
    dfs[name] = pd.read_csv(path + f"{name}.csv.gz")

admissions = dfs["admissions"]
patients = dfs["patients"]
labs = dfs["labevents"]
d_labitems = dfs["d_labitems"]
prescriptions = dfs["prescriptions"]
pharmacy = dfs["pharmacy"]
transfers=dfs["transfers"]
diagnoses = dfs["diagnoses_icd"]
d_diagnoses = dfs["d_icd_diagnoses"]
procedures = dfs["procedures_icd"]
d_procedures = dfs["d_icd_procedures"]

files2 = ["icustays", "inputevents", "outputevents", "procedureevents","chartevents", "datetimeevents", "d_items"]
dfs2 = {}

for name in files2:
    dfs2[name] = pd.read_csv(path2 + f"{name}.csv.gz")
icustays = dfs2["icustays"]
inputevents = dfs2["inputevents"]
outputevents = dfs2["outputevents"]
procedureevents = dfs2["procedureevents"]
chartevents = dfs2["chartevents"]
datetimeevents = dfs2["datetimeevents"]
d_items = dfs2["d_items"]

In [30]:
test = cleaning.get_base("Urinary Tract Infection")
test.head()

,hadm_id,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod,admittime,dischtime,deathtime,...,edouttime,hospital_expire_flag,stay_id,first_careunit,last_careunit,intime,outtime,los,ICU_length,Hospital_length
0,23473524,10002428,F,80,2155,2011 - 2013,NaN,2156-05-11 14:49:00,2156-05-22 14:16:00,NaN,...,2156-05-11 16:53:00,0,35479615.0,Surgical Intensive Care Unit (SICU),Medical Intensive Care Unit (MICU),2156-05-11 14:49:34,2156-05-22 14:16:46,10.977222,10 days 23:27:12,10 days 23:27:00
1,25797028,10002428,F,80,2155,2011 - 2013,NaN,2155-07-14 19:15:00,2155-07-15 18:37:00,NaN,...,2155-07-14 20:04:00,0,NaN,NaN,NaN,NaT,NaT,NaN,NaT,0 days 23:22:00
2,25177949,10032725,F,38,2143,2011 - 2013,2143-03-30,2143-02-17 14:20:00,2143-03-16 17:15:00,NaN,...,2143-02-17 15:18:00,0,NaN,NaN,NaN,NaT,NaT,NaN,NaT,27 days 02:55:00
3,22490490,10037928,F,78,2175,2011 - 2013,NaN,2177-07-14 16:55:00,2177-07-24 13:33:00,NaN,...,2177-07-14 20:38:00,0,31552399.0,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2177-07-14 20:38:00,2177-07-15 16:08:36,0.812917,0 days 19:30:36,9 days 20:38:00
4,29802992,10037928,F,78,2175,2011 - 2013,NaN,2179-07-25 00:06:00,2179-07-28 15:54:00,NaN,...,2179-07-25 01:17:00,0,NaN,NaN,NaN,NaT,NaT,NaN,NaT,3 days 15:48:00

In [31]:
print("Unique subject_id:", test['subject_id'].nunique())
print("Unique hadm_id:", test['hadm_id'].nunique())
print("Unique stay_id:", test['stay_id'].nunique())
print("Rows with no ICU stay:", test['stay_id'].isna().sum())
icu_counts = test.groupby('hadm_id')['stay_id'].nunique()
multiple_icu = icu_counts[icu_counts > 1]
print("Admissions with >1 ICU stay:\n", multiple_icu)

Unique subject_id: 22
Unique hadm_id: 36
Unique stay_id: 22
Rows with no ICU stay: 17
Admissions with >1 ICU stay:
 hadm_id
27417763    3
28477280    2
Name: stay_id, dtype: int64

In [32]:
vital_keywords = ["sodium", "potassium", "bun", "urea", "creatinine", "glucose", "ph", "lactate",
    "platelet", "wbc", "white blood", "hemoglobin", "hgb",
    "ast", "alt", "bilirubin", "inr"]

vitals_lookup = d_items[
    d_items["label"].str.contains('|'.join(vital_keywords), case=False, na=False)
][["itemid", "label", "unitname"]].sort_values("label")

vitals_lookup

      itemid                     label unitname
1759  228007      14 G Phlebitis Scale      NaN
1782  228009      16 G Phlebitis Scale      NaN
1780  228011      18 G Phlebitis Scale      NaN
1773  228013      20 G Phlebitis Scale      NaN
1777  228015      22 G Phlebitis Scale      NaN
...      ...                       ...      ...
1979  225676            ZPhenobarbital      NaN
1949  225645     ZPhenytoin (Dilantin)      NaN
1931  225678           ZPlatelet Count      NaN
1959  220640        ZPotassium (serum)      NaN
1974  226535  ZPotassium (whole blood)      NaN

[241 rows x 3 columns]

In [33]:
vitals = cleaning.get_vitals(test,4,4)
vitals.head()

    hadm_id  heart_rate_max  blood_pressure_min
0  23473524            73.0                 NaN
1  25797028             NaN                 NaN
2  25177949             NaN                 NaN
3  22490490            94.0                62.0
4  29802992             NaN                 NaN

In [34]:
columns = ['hadm_id','subject_id','stay_id',
    'anchor_age',
    'gender',
    'race',
    'admission_type',
    'admission_location',
    'admittime',
    'dischtime',
    'hospital_expire_flag',
    'intime',
    'outtime',
    'ICU_length',
    'Hospital_length',
]
cleaned = test[columns]
cleaned.head()

,hadm_id,subject_id,stay_id,anchor_age,gender,race,admission_type,admission_location,admittime,dischtime,hospital_expire_flag,intime,outtime,ICU_length,Hospital_length
0,23473524,10002428,35479615.0,80,F,WHITE,EW EMER.,EMERGENCY ROOM,2156-05-11 14:49:00,2156-05-22 14:16:00,0,2156-05-11 14:49:34,2156-05-22 14:16:46,10 days 23:27:12,10 days 23:27:00
1,25797028,10002428,NaN,80,F,WHITE,EU OBSERVATION,EMERGENCY ROOM,2155-07-14 19:15:00,2155-07-15 18:37:00,0,NaT,NaT,NaT,0 days 23:22:00
2,25177949,10032725,NaN,38,F,BLACK/AFRICAN AMERICAN,EW EMER.,EMERGENCY ROOM,2143-02-17 14:20:00,2143-03-16 17:15:00,0,NaT,NaT,NaT,27 days 02:55:00
3,22490490,10037928,31552399.0,78,F,HISPANIC/LATINO - CUBAN,EW EMER.,EMERGENCY ROOM,2177-07-14 16:55:00,2177-07-24 13:33:00,0,2177-07-14 20:38:00,2177-07-15 16:08:36,0 days 19:30:36,9 days 20:38:00
4,29802992,10037928,NaN,78,F,HISPANIC/LATINO - CUBAN,EW EMER.,EMERGENCY ROOM,2179-07-25 00:06:00,2179-07-28 15:54:00,0,NaT,NaT,NaT,3 days 15:48:00

In [35]:
cleaned = cleaning.get_max_creatinine_bun(cleaned)
cleaned.head()

,hadm_id,subject_id,stay_id,anchor_age,gender,race,admission_type,admission_location,admittime,dischtime,hospital_expire_flag,intime,outtime,ICU_length,Hospital_length,creatinine_admission_max,bun_admission_max
0,23473524,10002428,35479615.0,80,F,WHITE,EW EMER.,EMERGENCY ROOM,2156-05-11 14:49:00,2156-05-22 14:16:00,0,2156-05-11 14:49:34,2156-05-22 14:16:46,10 days 23:27:12,10 days 23:27:00,0.4,12.0
1,25797028,10002428,NaN,80,F,WHITE,EU OBSERVATION,EMERGENCY ROOM,2155-07-14 19:15:00,2155-07-15 18:37:00,0,NaT,NaT,NaT,0 days 23:22:00,0.8,12.0
2,25177949,10032725,NaN,38,F,BLACK/AFRICAN AMERICAN,EW EMER.,EMERGENCY ROOM,2143-02-17 14:20:00,2143-03-16 17:15:00,0,NaT,NaT,NaT,27 days 02:55:00,0.9,21.0
3,22490490,10037928,31552399.0,78,F,HISPANIC/LATINO - CUBAN,EW EMER.,EMERGENCY ROOM,2177-07-14 16:55:00,2177-07-24 13:33:00,0,2177-07-14 20:38:00,2177-07-15 16:08:36,0 days 19:30:36,9 days 20:38:00,1.4,28.0
4,29802992,10037928,NaN,78,F,HISPANIC/LATINO - CUBAN,EW EMER.,EMERGENCY ROOM,2179-07-25 00:06:00,2179-07-28 15:54:00,0,NaT,NaT,NaT,3 days 15:48:00,1.8,47.0

questions: what to do with hospitalizations that have multiple icu stays, or none? 

what to do with patients that have multiple hospitilizations? 

are the diagnosis tables binary?

should i be looking at labevents or chartevents for the vitals? which itemids should I use?

how to filter for antibiotics? what are Comorbidities?

In [36]:
pharmacy_uti = pharmacy[pharmacy["hadm_id"].isin(cleaned["hadm_id"])].copy()
medication_count= pharmacy_uti["medication"].value_counts()
#medication_count.to_csv("medication_count.csv")

In [39]:
procedures_uti = procedures[procedures["hadm_id"].isin(cleaned["hadm_id"])].copy()
procedures_uti

     subject_id   hadm_id  seq_num   chartdate icd_code  icd_version
13     10007818  22987108       15  2146-06-20  02H633Z           10
14     10007818  22987108       13  2146-06-22  0BH17EZ           10
15     10007818  22987108       17  2146-06-21  B211YZZ           10
16     10007818  22987108       11  2146-06-11  3E0G76Z           10
17     10007818  22987108        6  2146-06-29  0BCH8ZZ           10
..          ...       ...      ...         ...      ...          ...
620    10016742  29281842        1  2178-07-03  5A1955Z           10
697    10002428  23473524        1  2156-05-11     9672            9
698    10002428  23473524        2  2156-05-11     9604            9
699    10002428  23473524        3  2156-05-11     3891            9
700    10002428  23473524        4  2156-05-11     3897            9

[99 rows x 6 columns]

In [42]:
procedures_uti = procedures_uti.merge(d_procedures,on=["icd_code","icd_version"], how="left")

In [46]:
vent_keywords = [
    "ventilation", "endotracheal", "intubation", "mechanical ventilation"
]

vent_mask = procedures_uti['long_title'].str.contains('|'.join(vent_keywords), case=False, na=False)

vent_procs = procedures_uti[vent_mask]
vent_procs_hadm = vent_procs["hadm_id"]

In [48]:
cleaned['vent_or_intubation'] = cleaned['hadm_id'].isin(vent_procs_hadm).astype(int)
cleaned

,hadm_id,subject_id,stay_id,anchor_age,gender,race,admission_type,admission_location,admittime,dischtime,hospital_expire_flag,intime,outtime,ICU_length,Hospital_length,creatinine_admission_max,bun_admission_max,vent_or_intubation
0,23473524,10002428,35479615.0,80,F,WHITE,EW EMER.,EMERGENCY ROOM,2156-05-11 14:49:00,2156-05-22 14:16:00,0,2156-05-11 14:49:34,2156-05-22 14:16:46,10 days 23:27:12,10 days 23:27:00,0.4,12.0,1
1,25797028,10002428,NaN,80,F,WHITE,EU OBSERVATION,EMERGENCY ROOM,2155-07-14 19:15:00,2155-07-15 18:37:00,0,NaT,NaT,NaT,0 days 23:22:00,0.8,12.0,0
2,25177949,10032725,NaN,38,F,BLACK/AFRICAN AMERICAN,EW EMER.,EMERGENCY ROOM,2143-02-17 14:20:00,2143-03-16 17:15:00,0,NaT,NaT,NaT,27 days 02:55:00,0.9,21.0,0
3,22490490,10037928,31552399.0,78,F,HISPANIC/LATINO - CUBAN,EW EMER.,EMERGENCY ROOM,2177-07-14 16:55:00,2177-07-24 13:33:00,0,2177-07-14 20:38:00,2177-07-15 16:08:36,0 days 19:30:36,9 days 20:38:00,1.4,28.0,0
4,29802992,10037928,NaN,78,F,HISPANIC/LATINO - CUBAN,EW EMER.,EMERGENCY ROOM,2179-07-25 00:06:00,2179-07-28 15:54:00,0,NaT,NaT,NaT,3 days 15:48:00,1.8,47.0,0
5,24225421,10037928,NaN,78,F,HISPANIC/LATINO - CUBAN,EW EMER.,EMERGENCY ROOM,2178-09-28 23:05:00,2178-10-02 17:13:00,0,NaT,NaT,NaT,3 days 18:08:00,1.4,26.0,0
6,24656677,10037928,39804682.0,78,F,HISPANIC/LATINO - CUBAN,EW EMER.,EMERGENCY ROOM,2178-12-21 05:30:00,2178-12-26 18:35:00,0,2178-12-21 06:05:18,2178-12-22 02:16:08,0 days 20:10:50,5 days 13:05:00,1.3,20.0,0
7,22228639,10037928,NaN,78,F,HISPANIC/LATINO - CUBAN,EU OBSERVATION,PHYSICIAN REFERRAL,2183-08-04 04:04:00,2183-08-04 16:07:00,0,NaT,NaT,NaT,0 days 12:03:00,1.9,26.0,0
8,20291550,10008454,31959184.0,26,F,WHITE,EW EMER.,EMERGENCY ROOM,2110-11-30 06:31:00,2110-12-10 15:53:00,0,2110-11-30 17:11:36,2110-12-05 16:48:24,4 days 23:36:48,10 days 09:22:00,0.7,11.0,0
9,27984218,10020640,30849778.0,91,F,WHITE,EW EMER.,EMERGENCY ROOM,2153-02-13 00:22:00,2153-02-20 13:52:00,0,2153-02-13 01:38:00,2153-02-15 15:00:57,2 days 13:22:57,7 days 13:30:00,0.8,33.0,0
10,21540783,10019172,NaN,63,F,UNABLE TO OBTAIN,ELECTIVE,PHYSICIAN REFERRAL,2118-10-08 14:00:00,2118-10-11 20:15:00,0,NaT,NaT,NaT,3 days 06:15:00,0.9,22.0,0
11,20338077,10007928,35128235.0,59,F,WHITE,EW EMER.,EMERGENCY ROOM,2129-04-05 22:56:00,2129-04-11 17:25:00,0,2129-04-06 00:25:00,2129-04-08 21:02:55,2 days 20:37:55,5 days 18:29:00,0.8,16.0,0
12,26226543,10019003,NaN,65,F,WHITE,ELECTIVE,PHYSICIAN REFERRAL,2155-10-17 18:01:00,2155-11-03 18:00:00,0,NaT,NaT,NaT,16 days 23:59:00,1.3,37.0,0
13,29279905,10019003,34107647.0,65,F,WHITE,EW EMER.,EMERGENCY ROOM,2153-03-27 23:25:00,2153-04-07 16:20:00,0,2153-03-28 02:21:00,2153-03-31 16:59:04,3 days 14:38:04,10 days 16:55:00,2.5,44.0,0
14,26703331,10019003,NaN,65,F,WHITE,EW EMER.,TRANSFER FROM HOSPITAL,2155-06-10 23:09:00,2155-06-15 16:30:00,0,NaT,NaT,NaT,4 days 17:21:00,1.2,22.0,0
15,26529390,10019003,NaN,65,F,WHITE,DIRECT EMER.,PHYSICIAN REFERRAL,2155-05-17 00:02:00,2155-05-19 18:27:00,0,NaT,NaT,NaT,2 days 18:25:00,1.2,15.0,0
16,23720373,10002930,NaN,48,F,BLACK/AFRICAN AMERICAN,EU OBSERVATION,EMERGENCY ROOM,2199-02-17 21:45:00,2199-02-19 13:38:00,0,NaT,NaT,NaT,1 days 15:53:00,NaN,NaN,0
17,28166872,10027602,32391858.0,71,F,WHITE,EW EMER.,EMERGENCY ROOM,2201-10-30 12:05:00,2201-11-20 14:45:00,0,2201-10-30 12:25:00,2201-11-12 18:37:10,13 days 06:12:10,21 days 02:40:00,0.6,21.0,1
18,28477280,10031757,33244906.0,67,F,WHITE,DIRECT EMER.,CLINIC REFERRAL,2137-10-12 22:43:00,2137-10-24 17:30:00,0,2137-10-15 17:29:21,2137-10-17 22:16:51,2 days 04:47:30,11 days 18:47:00,1.1,25.0,0
19,28477280,10031757,30458995.0,67,F,WHITE,DIRECT EMER.,CLINIC REFERRAL,2137-10-12 22:43:00,2137-10-24 17:30:00,0,2137-10-12 22:44:57,2137-10-14 17:08:34,1 days 18:23:37,11 days 18:47:00,1.1,25.0,0
20,29281842,10016742,37057036.0,58,F,BLACK/AFRICAN AMERICAN,EW EMER.,EMERGENCY ROOM,2178-07-03 21:13:00,2178-07-08 20:20:00,0,2178-07-03 22:45:00,2178-07-08 20:34:44,4 days 21:49:44,4 days 23:07:00,1.1,26.0,1
21,28506150,10016742,32314488.0,58,F,BLACK/AFRICAN AMERICAN,OBSERVATION ADMIT,EMERGENCY ROOM,2178-07-13 05:40:00,2178-07-16 02:00:00,0,2178-07-13 08:16:00,2178-07-16 14:41:31,3 days 06:25:31,2 days 20:20:00,0.5,24.0,1
22,26369609,10012853,NaN,91,F,BLACK/AFRICAN AMERICAN,EW EMER.,EMERGENCY ROOM,2175-04-05 15:36:00,2175-04-10 16:55:00,0,NaT,NaT,NaT,5 days 01:19:00,1.1,21.0,0
23,22896692,10012853,NaN,91,F,BLACK/AFRICAN AMERICAN,EU OBSERVATION,EMERGENCY ROOM,2176-08-11 15:17:00,2176-08-11 17:35:00,0,NaT,NaT,NaT,0 days 02:18:00,NaN,NaN,0
24,26706939,10018328,NaN,83,F,WHITE,OBSERVATION ADMIT,TRANSFER FROM HOSPITAL,2154-02-05 21:58:00,2154-02-09 15:15:00,0,NaT,NaT,NaT,3 days 17:17:00,0.7,13.0,0
25,27417763,10017492,36035031.0,84,M,PATIENT DECLINED TO ANSWER,EW EMER.,EMERGENCY ROOM,2116-06-26 18:25:00,2116-07-05 08:05:00,1,2116-06-27 17:35:34,2116-06-27 20:26:18,0 days 02:50:44,8 days 13:40:00,2.4,81.0,0
26,27417763,10017492,39543480.0,84,M,PATIENT DECLINED TO ANSWER,EW EMER.,EMERGENCY ROOM,2116-06-26 18:25:00,2116-07-05 08:05:00,1,2116-06-26 20:35:09,2116-06-27 15:44:27,0 days 19:09:18,8 days 13:40:00,2.4,81.0,0
27,27417763,10017492,36871784.0,84,M,PATIENT DECLINED TO ANSWER,EW EMER.,EMERGENCY ROOM,2116-06-26 18:25:00,2116-07-05 08:05:00,1,2116-07-05 06:50:16,2116-07-05 13:06:59,0 days 06:16:43,8 days 13:40:00,2.4,81.0,0
28,27672872,10017492,NaN,84,M,PATIENT DECLINED TO ANSWER,EW EMER.,EMERGENCY ROOM,2114-03-19 20:05:00,2114-04-02 18:30:00,0,NaT,NaT,NaT,13 days 22:25:00,1.3,22.0,0
29,25973915,10018081,NaN,79,M,WHITE,EW EMER.,EMERGENCY ROOM,2134-09-06 15:57:00,2134-09-18 15:50:00,0,NaT,NaT,NaT,11 days 23:53:00,1.1,32.0,0
30,21027282,10018081,37293400.0,79,M,WHITE,EW EMER.,EMERGENCY ROOM,2133-12-18 16:58:00,2134-01-12 11:00:00,0,2133-12-18 17:10:00,2134-01-01 14:44:53,13 days 21:34:53,24 days 18:02:00,5.1,132.0,1
31,26228185,10014354,NaN,60,M,WHITE,OBSERVATION ADMIT,TRANSFER FROM HOSPITAL,2150-04-30 20:19:00,2150-05-07 14:10:00,0,NaT,NaT,NaT,6 days 17:51:00,1.3,25.0,0
32,24256866,10037861,NaN,77,M,UNKNOWN,URGENT,TRANSFER FROM HOSPITAL,2115-10-09 20:28:00,2115-10-18 16:50:00,0,NaT,NaT,NaT,8 days 20:22:00,1.8,61.0,0
33,24540843,10037861,34531557.0,77,M,UNKNOWN,EW EMER.,EMERGENCY ROOM,2117-03-14 16:34:00,2117-03-24 00:01:00,1,2117-03-14 16:34:58,2117-03-25 02:35:08,10 days 10:00:10,9 days 07:27:00,3.2,78.0,1
34,22987108,10007818,32359580.0,69,M,WHITE,DIRECT EMER.,PHYSICIAN REFERRAL,2146-06-10 16:37:00,2146-07-12 00:00:00,1,2146-06-22 11:46:29,2146-07-13 00:27:47,20 days 12:41:18,31 days 07:23:00,4.5,205.0,1
35,29974575,10020944,30757476.0,72,M,UNKNOWN,EW EMER.,EMERGENCY ROOM,2131-02-27 15:34:00,2131-03-13 17:01:00,0,2131-02-27 16:40:00,2131-03-08 18:30:38,9 days 01:50:38,14 days 01:27:00,2.3,34.0,1
36,20626031,10005817,32604416.0,66,M,WHITE,URGENT,TRANSFER FROM HOSPITAL,2132-12-12 01:43:00,2132-12-20 15:04:00,0,2132-12-15 09:29:01,2132-12-17 18:06:07,2 days 08:37:06,8 days 13:21:00,1.1,25.0,0
37,24420677,10015931,38137964.0,87,M,WHITE,OBSERVATION ADMIT,EMERGENCY ROOM,2176-12-16 23:31:00,2176-12-31 17:35:00,0,2176-12-22 16:24:33,2176-12-23 20:14:53,1 days 03:50:20,14 days 18:04:00,2.1,43.0,0
38,28157142,10015931,39544395.0,87,M,WHITE,OBSERVATION ADMIT,EMERGENCY ROOM,2176-11-14 18:02:00,2176-11-27 13:30:00,0,2176-11-19 14:24:52,2176-11-20 19:18:13,1 days 04:53:21,12 days 19:28:00,4.0,69.0,0

In [49]:
cleaned['vent_or_intubation'].value_counts()

vent_or_intubation
0    31
1     8
Name: count, dtype: int64